

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}