<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="f-16 p-0">Image</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="w-100 ion-margin-top">
    <ion-item lines="none" class="mb-5">
      <div class="bg-image"
        [style.backgroundImage]="'url(assets/images/scene1.jpeg)'">
      </div>
    </ion-item>
    <ion-item lines="none" class="mb-5">
      <ion-text class="feed-text">
        <ion-icon color="secondary" name="caret-forward"></ion-icon>
        59 ODIs, 53 T20s
        <ion-icon color="secondary" name="caret-forward"></ion-icon>
        1800 International runs
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <span class="feed-text">Top Australian batsman Steve Smith has revealed that he suffered a 
        "bad dose of vertigo" ahead of the season
        <span class="feed-text color-blue bold"> #Cricket #IPLCricket #Dubai</span>
      </span>
    </ion-item>
  </div>
</ion-content>
