
img{
    height: 85px;
    object-fit: cover;
    width: 100%;
}
.title-text{
    color: #000;
}
.gallery-desc{
    padding-left: 5px;
}
.title{
    margin: 7px 0px;
}
.main-card{
    padding: 5px 10px;
}
.img-frame{
    height: 85px;
}