<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="f-16 p-0">Blog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let article of articlesList" class="m-0">
    <ion-row class="main-card ion-padding" (click)="detailBlog(article)">
      <ion-col size="3">
        <div class="img-frame">
          <img class="main-img" [src]="ccUtil.RESOURCE_URL + article.image" onerror="this.src='assets/images/news.png'" />
        </div>
      </ion-col>
      <ion-col size="9">
        <div class="gallery-desc">
          <p class="title-text f-16 m-0" [innerHTML]="article.title"></p>
          <p class="title f-14" [innerHTML]="article.article"></p>
          <p class="f-12 m-0"> {{article.date}} </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
