.main-header{
    height: 52px;
    display: flex;
    align-items: center;
}
@media only screen and (min-width: 600px) {
    .main-header{
        height: 65px;
    }
}

@media only screen and (max-width: 767px) {
    .mainhome{
    display: none;
   }
}
.header-md::after{
    background-image: none!important;
    --background-image: none!important;
}