.recent-form-lw {
    overflow: auto;
    text-overflow: initial;
}
.recent-form-lw ion-text {
    color: #fff;
    margin: 10px 2px;
    font-size: 12px;
    height: 20px;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    display: inline-flex;
    justify-content: center;
}
.circle-danger{
    background: red;
}
.circle-success{
    background:#15D211;
}
.circle-grey{
    background:#9d9fa6;
}
.score-team{
    --min-height: 38px;
    border-top: 5px solid rgb(216, 210, 210);
}
.team-scr{
    border-bottom: 1px solid #ddd;
    margin: 0px 15px;
    --padding-start: 0px;
    --padding-end: 0px;
}
.score-detail{
    ion-item{
        border-bottom: 1px solid #ddd;
        margin: 0px 15px;
        --padding-start: 0px;
        ion-label{
            margin: 8px 0px;
        }
        ion-text{
            font-size: 13px;
        }
        p{
            font-weight: bold;
        }
    }
}
.names{
    span{
        color: var(--ion-color-tertiary);
        width: 25%;
        display: inline-block;
        margin-top: 2px;
        b{
            color: #000!important;
            font-size: 14px;
        }
    }
}
.commentry{
    padding: 5px 15px;
}


ul{
    padding-left: 15px;
    list-style: none;
    text-align: left;
    margin: 0px;
    background: #f3f3f3;
    li{
        font-size: 14px;
        padding: 10px 0px;
        color: #000;
    }
}
.badge{
    width: 23px;
    height: 23px;
    background: #979797;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 12px;
    display: inline-flex;
    color: #fff;
    margin: 0px 5px;
    align-items: center;
    justify-content: center;
}
.media-body{
    font-size: 12px;
}
img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #fff;
}
.team-name{
  margin: 0px 15px;
  --inner-padding-start: 0px;
  --padding-start: 0px;
  --inner-padding-end: 0px;
}