
.date{
    position: absolute;
    background: #fff;
    padding: 3px 10px;
    border-radius: 3px;
    top: 10px;
    right: 10px;
}
.content{
    padding: 5px 15px;
}
ion-card-header{
    padding: 5px 15px;
}