.create-post-head{
    --min-height: 38px;
    margin-bottom: 5px;
    --padding-start: 10px;
    border-radius: 3px;
    .header-avatar{
        margin: 0px;
        height: 20px;
        width: 20px;
        img{
            height: 20px;
            width: 20px;
            margin-right: 5px;
        }
    }
}
.like-extra{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.upload-post{
    font-weight: bold;
    --padding-start: 0px;
    --inner-padding-end: 0px;
    justify-content: space-between;
    display: flex;
    div{
    width: 33.3%;
    }
    ion-icon{
        margin-right: 5px;
    }
    ion-label{
        display: inline-block;
        font-weight: 500;
    }
    .divider{
			margin: 5px 5px;
			font-size: 25px;
			font-weight: bold;
			color: var(--ion-color-primary);
			align-self: baseline;
    }
}

.feed-content{
    background-color: var(--ion-color-medium);
    height: 100%;
    width: 100%;
} 

.create-post{
    background: var(--ion-color-medium);
    padding: 10px 15px;
}

.post-images{
    --padding-start:0px;
    --inner-padding-end: 0px;
    img{
        width: 100%;
        object-fit: cover;
    }
}
.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 230px;
}

.post-extras-circle{
    margin-left: 0px !important;
    display: flex;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    text-align: center;
    background-color: var(--ion-color-light);
}

.post-icon{
    color: grey;
}

.comment{
    color: var(--ion-color-dark);;
    background-color: var(--ion-color-light);
    font-size: 14px;
    text-align: left;
}
.inside-comments{
	align-items: flex-start;
}
.comment-input{
    margin: 7px 0px;
    background: #f3f3f3;
		height: 34px;
		font-size: 14px;
    padding: 0px 10px!important;
    --inner-padding-end: 5px;
    border-radius: 5px 0px 0px 5px;
}
.comment-inputs{
    border-top: 1px solid var(--ion-color-medium);
    border-bottom: 1px solid var(--ion-color-medium);
}
.comment-inputs .header-avatar img{
    width: 30px;
    height: 30px;
}
.show_comments{
	padding: 10px 0px;
}
.comment-profile{
align-items: flex-start;
ion-icon{
	margin-right: 3px;
}
.header-avatar img{
    width: 30px;
    height: 30px;
}
.header-avatar{
    width: 30px;
    height: 30px;
}
		}
		.user-name{
			color: #000!important;
		}
	.reply-status{
		font-size: 13px;
		font-weight: 500;
		display: flex;
		align-items: center;
		span{
			align-items: center;
			display: flex;
			margin-right: 10px;
			color: #92949c;
		}
	}
	.reply-comment{
		--padding-start:0px;
		--inner-padding-end: 0px;
		margin-top: 8px;
	}
	b{
		color: #000;
		margin-right: 5px;
	}
.sub-comment{
	padding: 0px 0px;
	margin-top: 5px;
	margin-bottom: 0px;
        span{
            display: block!important;
            width: 100%;
            margin-bottom: 0px;
						color: #92949c;
        }
}
.comment-inputs .header-avatar{
    width: 30px;
    height: 30px;
}
.send-button{
    margin: 0px;
    height: 34px;
    --box-shadow: none;
    --border-radius: 0px;
    --background: var(--ion-color-medium);
    color: var(--ion-color-primary);
    border-radius: 0px 5px 5px 0px;
}